@charset "UTF-8"; 
html, body{
height: 100vh;
width: 100vw;
}

* {
	box-sizing: border-box;
}

body {
display: grid;
grid-template: 5rem 1fr auto/auto;
grid-template-areas:
	". header ."
	". maincontent ."
	". footer footer";
padding: 0;
margin: 0;
}
h1{
display: flex;
align-content: center;
color: #484a52;
grid-area: header / 2 / span 1 / span 1;
padding-bottom: 1.2em;
border-bottom: 1px solid #b34d4d; 

}

table
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse:collapse;
grid-area: maincontent;
}
td 
{
font-size:1em;
border:1px solid #608f9f;
padding:5px 5px 5px 5px;
}
th 
{
font-size:1.1em;
text-align:center;
padding-top:5px;
padding-bottom:5px;
padding-right:7px;
padding-left:7px;
background-color:#4d99b3;
color:#ffffff;

}


tr:hover {
background-color: #006080;
color: #ffffff;
}


h5 {
grid-area: footer / 1 / span 1 / span 3;
align-content: left;
padding: 20px;
background-color: rgba(175, 181, 182, 0.6);
border-top: 1px solid #798386;
}
