html {
    height: 100%;
}

body {
    padding-top: 3.5rem;
	height: 100%;
	
}



.footer {
   
	margin-top: auto;
	min-height: 10vh;
	
}

.footer p {
    margin-bottom: 0%;
	
}

